.shop-cart-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

    .shop-cart-item-name {
        font-size: 14px;
        width: 250px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .shop-cart-item-price {
        font-size: 16px;
        font-weight: bold;
        color: rgb(34, 34, 191)
    }
}